<!DOCTYPE html>

<head>

 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="{{ url_for('static', filename='todo-app.js') }}"></script>

    <title>TODO App</title>

</head>

<body>

	<div class='container'>

	    <ol id="todolist"></ol>
    	
        <input type="text" name="taskName" id="taskName" placeholder="Task">
    	<input type="date" name="dueDate" id="dueDate" placeholder="Due Date">
    	<button onclick="createTask()">Add Task</button>
	
    </div>

</body>

</html>